
body {
  min-width: 1055px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



.header, .footer, .sect1 {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background: #1F2937 ;
  color: #f9faf8;
}


.sect1 {
  display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 72px;
}


.sect1bigtext {
  font-size: 48px;
  font-weight: 900;
  margin-left: 70px;
  display: flex;
}

.sect1subtext {
  margin-left: 70px;
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin-right: 70px;
  padding-top: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.headerlogo {
  font-size: 24px;
  font-weight: 800;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.sect1left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.sect1right {
  width: 50%;
}

img {
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  height: 250px;
  display: flex;
  margin-bottom: 50px;
  margin-right: 70px;
  border: 3px solid #3882f6;
}

button {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background: #3882F6;
  margin-left: 70px;
  margin-top: 5px;
}

.topbutton {
  border: none;
}
.sect2title, .content {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  flex-direction: row;
  color: #1f2937;
}

.sect2title {
  font-size: 36px;
  font-weight: 900;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.text {
  text-align: center;
  font-size: 12px;
  padding-bottom: 80px;
}


.info > img {
  margin-bottom: 6px;
  margin-right: 16px;
  margin-left: 16px;
  height: 120px;
  width: 120px;
  gap: 20px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

div.info {
  max-width: 152px;
  max-height: 220px;
}

.sect3 {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quotecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 200px;
  color: #1f2937;
}
div.quote {
  font-size: 36px;
  font-weight: 100;
  font-style:italic;
  padding-right: 0;
}

#quoteref {
  font-weight: 900;
  text-align: right;
  display: block;
  padding-right: 30px;
}

.block {
  display: flex;
  background-color: #3882F6;
  margin: 80px 150px;
  color: white;
  border-radius: 8px;
}

.sect4text {
  font-weight: 900;
  margin: 40px 80px;
}

.sect4text > div {
  font-weight: 100;
  font-size: 12px;
}


button.s4signup{
  margin-left: 100px;
  margin-top: 40px;
  border: 1px solid white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
